@model HornetsApplication1.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div id="PrintableArea">
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="~/Media/Images/Emp/@Model.Image" width="120" height="120" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>


    </dl>
</div>
<div>
    <input type="button" onclick="printDiv('printableArea')" value="print a Div!" />
    |
    <a asp-action="Edit" asp-route-id="">Edit</a>
    |
    <a asp-action="Index">Back to List</a>
</div>
<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }</script>