@model IEnumerable<HornetsApplication1.Models.Faculty>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FacultyName)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.FacultyDesignation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FacultyQualification)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FacultyAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FacultyContact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FacultyImage)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FacultyDesignation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyQualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyContact)
            </td>
            <td>
                <img src="Media/Images/Faculty/@item.FacultyImage" width="120" height="120" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacultyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FacultyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FacultyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
