@model HornetsApplication1.Models.Subject

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.ClassId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Faculty.FacultyId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
